span{
    font-weight: bold;
}

.description{
    margin-top:1%;
    margin-bottom:1%;
}

.head-title{
    color:gray;
    font-size:20px;
}

.info-block{
    margin-top:1%;
    margin-bottom:1%;
}


